# Ignore artifacts:
build
coverage
schemas

# Ignore all HTML files:
**/*.html
**/*.avsc
**/*.md
**/Taskfile.yml
Taskfile.yml
sonar-project.properties
.devcontainer.json
.flake8
.gitignore
.pre-commit-config.yaml
*.ini
.editorconfig
.github
*.toml
*.cfg
